Source: milter-regex
Section: unknown
Priority: optional
Maintainer: Bastian Blank <bastian.blank@credativ.de>
Build-Depends: debhelper (>= 8.0.0), bison, libbsd-dev, libmilter-dev, groff-base
Standards-Version: 3.9.4
Homepage: http://www.benzedrine.cx/milter-regex.html

Package: milter-regex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Milter plugin for regular expression filtering
 <insert long description, indented with spaces>
