#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_clean:
	$(MAKE) -f Makefile.linux clean

override_dh_auto_build:
	$(MAKE) -f Makefile.linux

override_dh_auto_test:
override_dh_auto_install:
